body {
    margin-top: 10%;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
    padding: 0;
    text-indent: 1em;
}

nav {
    text-align: left;
}

.coverpage {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

.tocimg, .yearimg {
    width: 45%;
    max-width: 593px;
}

.yeartitle {
    margin-top: 40%;
}

.storytext {
    margin-top: 7%;
}

.storyparagraph {
    margin-bottom: 1em;
}

.storyparagraph > p:first-child {
    text-indent: 0;
}

.raisedcaps {
    font-size: 4em;
    font-weight: bold;
    line-height: 0.4em;
}

.nightmare, .letter, .song, .article {
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
}

.letter p, .song p, .article p {
    text-indent: 0;
}

.letter p {
    margin-bottom: 1em;
}

.article p.title {
    font-weight: bold;
}

.article p.byline {
    font-size: smaller;
    margin-bottom: 0.5em;
}
