body {
    margin-top: 10%;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
    padding: 0;
    text-indent: 1.5em;
}

nav {
    text-align: left;
}

.coverpage {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

.firstheader {
    text-align: left;
    padding-left: 2.1em;
}

.tocimg, .yearimg {
    width: 45%;
    max-width: 593px;
}

.yeartitle {
    margin-top: 40%;
}

.storytext {
    margin-top: 7%;
}

.storyparagraph {
    margin-bottom: 1em;
}

.raisedcaps {
    font-size: 2.5em;
    font-weight: bold;
}
