body {
    margin-top: 10%;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: left;
}

.coverPage {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

.firstHeader {
    text-align: left;
    padding-left: 2.1em;
}

.tocImg, .yearImg {
    width: 45%;
    max-width: 593px;
}

.yearTitle {
    margin-top: 40%;
}

.storytext {
    margin-top: 7%;
}
